<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form autocomplete="off" (submit)="doResetPassword()">
    <div class="ion-text-center"><small>Ingrese su correo para enviarle las instrucciones</small></div>
    <ion-item >
      <ion-label position="floating" > Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true" autocomplete="on"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block">Recuperar</ion-button>
  </form>
</ion-content>
